footer {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

footer h3, p, a {
    color: #efefef;
}

footer h3 {
    margin-bottom: 1.2em;
}

footer span {
    font-weight: bold;
    color: #7b7eb2;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    color: #7b7eb2;
}