<div class="about">
    <h2>Sobre o Moments</h2>
    <p>
        Já teve aquela partida que você adoraria mostrar aos seus amigos? 
        Ou ter um espaço onde você possa guardar suas melhores jogadas? 
        Então aqui é o lugar ideal para você!
    </p>
    <p>
        O Moments é uma plataforma que permite que os usuários compartilhem suas
        jogatinas, dicas e estratégias com outros jogadores. Junte-se agora,
        divulgue e receba comentários dos seus amigos.
    </p>
    <a routerLink="/moments/new">Compartilhe</a>
</div>